.header {
    &-top {
        background-color: #fff;
    }

    &__logo {
        max-width: 250px;
    }

    &__contacts-list {
        margin-bottom: 0;

        a {
            font-size: 20px;
            font-weight: 600;
            color: #212529;
            text-decoration: none;
        }
        .callback{
            a{
                font-size: 14px;
                border-bottom: 1px dashed;
            }
        }
    }

    &-bottom {
        background-color: blueviolet;
    }
}