@use 'sass:math';

@mixin normalize-root() {
    --body-text-color: #{$body-text-color};
    --body-bg-color: #{$body-bg-color};
    --body-font-family: #{$body-font-family};
    --body-font-weight: #{$body-font-weight};
    --body-font-size: #{toRem($body-font-size)};
    --body-line-height: #{$body-line-height};

    // Общие стили для всех заголовков
    --heading-font-family: #{$heading-font-family};
    --heading-font-weight: #{$heading-font-weight};
    --heading-line-height: #{$heading-line-height};

    // Размеры заголовков h1-h6
    --h1-font-size: #{clamp1($h1-fs-min, $h1-fs-max)};
    --h2-font-size: #{clamp1($h2-fs-min, $h2-fs-max)};
    --h3-font-size: #{clamp1($h3-fs-min, $h3-fs-max)};
    --h4-font-size: #{clamp1($h4-fs-min, $h4-fs-max)};
    --h5-font-size: #{clamp1($h5-fs-min, $h5-fs-max)};
    --h6-font-size: #{clamp1($h6-fs-min, $h6-fs-max)};
}